@import 'tailwindcss';

/*  */

@layer utilities {
	.set-white-ring-80:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}

	.chat-sidebar-border {
		border: 1px solid rgba(255, 255, 255, 0.15);
	}

	.user-icon-border {
		border: 1px solid rgba(255, 255, 255, 0.5);
	}

	.chat-sidebar-border-top {
		border-top: 1px solid rgba(255, 255, 255, 0.15);
	}

	.input-r-25 {
		border-right: 1px solid rgba(255, 255, 255, 0.25);
	}
	.input-l-25 {
		border-left: 1px solid rgba(255, 255, 255, 0.25);
	}

	.chat-sidebar-background-color {
		background-color: rgba(0, 0, 0, 0.25);
	}

	.editing-message-bg-color {
		background-color: #171717;
	}

	.room-bg-color {
		background-color: #3c0067;
	}

	.sidebar-user-info-border {
		border: 1px solid #3c0067;
	}

	.input-bold-border {
		border: 2px solid #3c0067;
	}
	.input-bold-border-focus:focus-within {
		border: 2px solid #a528ff;
	}

	.input-bg {
		background-color: rgba(30, 30, 30, 0.3);
	}

	.message-field-send-button-bg {
		background-color: #37054e;
	}

	.background-gray-hover:hover {
		background-color: rgba(50, 50, 50, 0.5);
	}

	.underline-before {
		position: relative;
		display: inline-block;
	}

	.underline-before::before {
		content: '';
		position: absolute;
		bottom: -1px;
		width: 100%;
		height: 2px;
		background-color: #bc13ff;
	}

	.oAuthBlock-bg-color {
		background-color: rgba(25, 25, 25, 0.8);
	}

	.bg-black-50 {
		background-color: rgba(0, 0, 0, 0.4);
	}

	.search-input-border {
		border: 1px solid rgba(50, 50, 50, 0.9);
	}
	.default-border {
		border: 1px solid rgba(51, 51, 51, 0.4);
	}
	.default-border-bottom {
		border-bottom: 1px solid rgba(94, 94, 94, 1);
	}

	.text-opacity-50 {
		color: rgb(50, 50, 50);
	}

	.header-bg-color {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

.active {
	background-color: red;
}
